/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/********** HEADER ***********/
header {
    background-color: #29ABE2;
    padding-top: .2rem;
    padding-bottom: .5rem;
}

.header_logo {
    margin: .5rem;
}

.header_logo img {
    width: 20%;
    float: left;
    margin-right: .5rem;
}

.top_heading {
    float: left;
    margin: 0%;
    font-family: 'Secular One', sans-serif;
}

header h1 {
    font-size: 1.4rem;
}
header h2 {
    font-size: .85rem;
}

nav button {
    margin-top: -1rem;
    margin-right: .5rem;
    padding-top: 0%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #000000;
    float: right;
}

nav {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000000;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li.active a {
    background-color: #1b5872;
    color: #fff;
    padding-top: .8rem;
    margin-top: 4rem;
    border-top: 0px;
}

nav ul:last-child {
    padding-bottom: .3rem;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}

nav ul.hide {
    display: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }