/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/********** HEADER ***********/
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.header_logo {
    margin: .5rem;
}

.header_logo img {
    width: 90px;
}

.top_heading {
    font-size: 1.5rem;
    margin: 0rem;
}

nav button {
    margin-top: .1rem;
    margin-right: .5rem;
    padding-top: 0%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #000000;
    float: right;
}

nav {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
    background-color: #1b5872;
    color: #fff;
    padding-top: .8rem;
    margin-top: 4rem;
    border-top: 0px;
}

nav ul:last-child {
    padding-bottom: .3rem;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul.hide {
    display: none;
}

/********** MAIN ***********/
main h1 {
    font-family: 'Secular One', sans-serif;
    margin: .5rem;
    padding-top: .5rem;
}
.main_banner {
    margin-left: 0;
    margin-right: 0;
}

.main_banner img {
    width: 100%;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}