/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #ffeab0;
}

/*--------------------- HEADER ---------------------*/
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid #6e6c6c;
}

figure.header_logo {
    margin-left: 10px;
}

.header_logo img {
    width: 60px;
}

/*--------------------- NAVIGATION ---------------------*/
.container {
    width: 50px;
    height: 50px;
}

.bar {
    background-color: #000000;
    width: 50px;
    height: 6px;
    margin-top: 10px;
    transition: 0.4s;
}

.bar:hover {
    background-color: #fca311;
}

button {
    margin-top: -.5rem;
    margin-right: -13rem;
    padding-top: 0%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
}

.nav-bar {
    padding-top: 3px;
    background-color: transparent;
}

.change .bar-one {
    transform: rotate(-45deg) translate(-10px, 12px);
}

.change .bar-two {
    opacity: 0;
}

.change .bar-three {
    transform: rotate(45deg) translate(-10px, -12px);
}

.list {
    list-style-type: none;
    margin-top: 20px;
}

.list a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
}

.list a:hover {
    color: #fca311;
}

#navigation {
    animation: move-left .5s linear;
}

@keyframes move-left {
    0% {
        transform: translate(50%, 0%);
    }

    25% {
        transform: translate(0%, 0%);
    }
}

.container ul.hide {
    display: none;
}

#navigation {
    position: absolute;
    background-color: #000000;
    margin-left: 0;
    margin-top: 0;
    padding: 20px 90px 30px 100px;
    margin-top: 70px;
    font-family: 'Lobster', cursive;
    height: 100%;
}

/*------------------ SLIDESHOW ---------------------*/
.slide-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*------------------ CALL TO ACTION ---------------------*/

.call-container {
    height: 240px;
    width: 360px;
    margin: 50px auto 50px auto;
    border-radius: 20px;
    display: block;
    background-color: #fca311;
}

.call-container h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 20px;
}

.call-container p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

a.call-button {
    background-color: black;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
}

a.call-button:hover {
    background-color: #14213d;
}

/*------------------ RENTAL OPTIONS ---------------------*/

#first-heading {
    font-family: 'Lobster', cursive;
    margin-left: 10px;
    margin-bottom: 8px;
}

#first-heading-hr {
    border: 1px black solid;
    margin-bottom: 40px;
}

.option {
    height: 420px;
    width: 360px;
    margin: 20px auto 20px auto;
    border-radius: 20px;
    display: block;
    background-color: #14213d;
}

.option img {
    width: 360px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

p.rental-attribute {
    font-size: .6rem;
}

p.rental-attribute a {
    text-decoration: none;
    color: #008cff
}

p.rental-attribute a:hover {
    color: #fca311;
}

.option p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}

.rent-button {
    background-color: #fca311;
    color: #000;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
}

.rent-button:hover {
    background-color: #fff;
}

/*------------------ WEATHER FORECAST ---------------------*/

#second-heading {
    font-family: 'Lobster', cursive;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 8px;
}

#second-heading-hr {
    border: 1px black solid;
    margin-bottom: 35px;
}

.hero-div {
    position: relative;
}

.hero-image {
    margin: 0;
}

.hero-image img {
    width: 100%;
}

#weather-summary {
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: .5rem;
    background-color: #fca311;
    border-radius: 20px;
}

#weather-summary h3 {
    font-family: 'Lobster', cursive;
    margin-bottom: .4rem;
}

#weather-summary hr {
    border: #000000 solid 1px;
    margin-top: 0%;
}

#weather-summary p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/*--------------------- FOOTER ---------------------*/

.footer-style {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #6e6c6c;
}

/*--------------------------------------------------------*/
/*--------------------- RENTALS PAGE ---------------------*/
/*--------------------------------------------------------*/

.rental-info section {
    height: 550px;
    width: 360px;
    margin: 20px auto 30px auto;
    border-radius: 20px;
    display: block;
    background-color: #14213d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.rental-info section img {
    width: 360px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.rental-info section h2 {
    font-family: 'Lobster', cursive;
}

.rental-info section hr {
    color: #ffeab0;
}

.rental-info section h3 {
    color: #008cff;
}

.rental-info section h2,
.rental-info section p,
.rental-info section h3 {
    margin-top: 2px;
    margin-bottom: 5px;
}

.rental-info section h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fca311;
}

.rental-info section a {
    background-color: #fca311;
    color: #000;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
}

.rental-info section a:hover {
    background-color: #fff;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}