/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin-left: 0px;
    margin-right: 0px;
}

/*--------------------- HEADER ---------------------*/
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #29abe2;
}

.sub-flex-container {
    display: block;
    align-items: center;
}

.header_logo {
    margin: .5rem;
}

.header_logo img {
    width: 90px;
}

.top_heading {
    font-family: "Secular One", sans-serif;
    margin: 0rem;
}

h1.top_heading {
    font-size: 1.5rem;
}

h2.top_heading {
    font-size: .7rem;
}

nav button {
    margin-top: -3.5rem;
    margin-right: .5rem;
    padding-top: 0%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #000000;
    float: right;
}

nav {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #00a99d;
}

nav ul li.active a {
    background-color: #1b5872;
    color: #fff;
    padding-top: .8rem;
    border-top: 0px;
}

nav ul:last-child {
    padding-bottom: .3rem;
}

nav ul li a:hover {
    background-color: #6aaca8;
}

nav ul.hide {
    display: none;
}

/*--------------------- MAIN ---------------------*/

/********** Pop-up message **********/
div#message {
    background-color: #fffb00;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: .5rem;
    padding: .5rem;
    border: #000000 solid 2px;
}

div#message em {
    color: #ff0000;
    font-family: "Secular One", sans-serif;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

/************************************/

.heading {
    font-family: "Secular One", sans-serif;
    font-size: 1rem;
    margin: .5rem;
}

/***** banner & weather summary *****/

.hero-div {
    position: relative;
}

.hero-image {
    margin: 0;
}

.hero-image img {
    width: 100%;
}

#weather-summary {
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: .5rem;
    background-color: #fbb03bb3;
}

#weather-summary h3 {
    font-family: "Secular One", sans-serif;
    margin-bottom: .4rem;
}

#weather-summary hr {
    border: #000000 solid 1px;
    margin-top: 0%;
}

#weather-summary p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/************************************/

/********* Five Day Forecast ********/

.forecast {
    margin: .5rem;
    margin-top: 2rem;
    font-family: "Secular One", sans-serif;
    color: #00a99d;
}

#weatherforecast {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 40px;
}

#weatherforecast div{
    display: flex;
    flex-direction: column;
    border: 1px solid #383838;
    background-color: #a8ece8;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#weatherforecast span:nth-child(1),
#weatherforecast span:nth-child(3),
#weatherforecast div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#weatherforecast span:nth-child(1) {
    font-family: "Secular One", sans-serif;
    font-size: 2rem;
}

#weatherforecast span:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

#weatherforecast div img {
    width: 25%;
}

/************************************/

/********** article section *********/

.main-article {
    margin: .5rem;
}

.main-article h2 {
    margin-top: 2rem;
    font-family: "Secular One", sans-serif;
    color: #00a99d;
}

.main-article p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.article-image {
    margin: 0;
}

.article-image img {
    width: 100%;
}

/************************************/
/*********** main events ************/
.events {
    margin: .5rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

.events h1 {
    font-family: "Secular One", sans-serif;
    color: #00a99d;
}

.events p {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

/************************************/
/********** contact section *********/

.contact-section {
    margin: .5rem;
    margin-bottom: 50px;
    height: 19rem;
}

.contact-section h2 {
    margin-top: 2rem;
    font-family: "Secular One", sans-serif;
    color: #00a99d;
}

.contact-section h3 {
    font-family: "Secular One", sans-serif;
    margin-top: 0;
}

.contact-section p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}

.address {
    background-color: #fbb03b;
    padding: 10px 15px;
}

.phone {
    background-color: #29abe2;
    padding: 10px 15px;
}

.email {
    color: #ffffff;
    background-color: #333333;
    padding: 10px 15px;
}

/************************************/

/************ Google map ************/

div.google-map {
    margin: .5rem;
    padding-top: 30px;
}

.google-map h2 {
    font-family: "Secular One", sans-serif;
    color: #00a99d;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 294px;
    width: 100%;
}

.gmap_canvas iframe {
    overflow: hidden;
    background: none !important;
    height: 294px;
    width: 100%;
}

/************************************/
.placeholder {
    border: 3px solid #333333;
    background-color: #ffffff;
    padding: 2.5rem;
    margin: .5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/*--------------------- FOOTER ---------------------*/
footer {
    background-color: #29abe2;
    text-align: center;
    padding-top: .2rem;
    padding-bottom: 1rem;
    font-family: "Secular One", sans-serif;
}

footer p {
    margin-bottom: 0;
}

/*------------------ GALLERY PAGE ------------------*/
.main-gallery h1 {
    font-family: "Secular One", sans-serif;
}

.main-gallery img[data-src] {
    filter: blur(0.2em);
}

.main-gallery img {
    filter: blur(0em);
    transition: filter 0.5s;
}

div.img-container {
    width: 80%;
    background-color: #b8b8bd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
}

div.text-container {
    text-align: center;
    padding: 10px 20px;
    line-height: 7px;
}

.align-img img {
    width: 100%;
}

.img-link {
    text-decoration: none;
    color: #fff;
}

.img-link:hover {
    color: #88d5f7;
}

/*------------------ STORM CENTER ------------------*/

/*----------- FORM --------------*/
form fieldset {
    margin: 2rem 0;
    border: 2px solid #00a99d;
    border-radius: 10px;
    padding: .5rem 2%;
    font-family: 'Roboto', sans-serif;
}

form legend {
    color: #00a99d;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.2rem;
    font-family: "Secular One", sans-serif;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #29abe2;
    font-size: 1rem;
    font-family: "Secular One", sans-serif;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: #fff;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#ratingvalue {
    font-size: 1.5rem;
    color: red;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.thanks-message {
    font-family: "Secular One", sans-serif;
    color: #00a99d;
}

/*------------------ HOME PAGE ------------------*/

.cards section {
    background-color: #00a99d;
    padding: .5rem;
    padding-bottom: 2rem;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 50px;
    border: 12px inset #000000;
}

.cards h2 {
    font-family: "Secular One", sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
}

.cards h4 {
    font-family: "Secular One", sans-serif;
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
    color: #ffffff;
}

.cards p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 6px;
}

.cards img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 2rem;
    box-shadow: 10px 10px 20px 0 rgb(0, 0, 0);
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}